<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PSU_Calculator.Properties.Einstellungen" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <PSU_Calculator.Properties.Einstellungen>
            <setting name="Version" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="AskSaveLocal" serializeAs="String">
                <value>False</value>
            </setting>
        </PSU_Calculator.Properties.Einstellungen>
    </userSettings>
</configuration>
